@tailwind base;
@tailwind components;
@tailwind utilities;


.line-clamp-container {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limit to 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; /* Ensures proper line breaking */
  }

.line-clamp-container-single {
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Limit to 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; /* Ensures proper line breaking */
  }